/*chattext*/
.framechattextbg .dfseperator {
    border-top: 1px #18191b solid;
    padding-bottom: 5px;
}

.chattext,
.chattextlocal,
.chattextscream,
.chattextclan,
.chattextgroup,
.chattextinfo,
.chattextwhisper,
.worldsay {
    font-size: 13px;
    /*background: url(../img/area.png); TODO: Find out what this was */
}

.chattext {
    color: silver;
}

.chattextscream {
    color: #6495ED;
}

.chattextclan {
    color: #EE7621;
}

.chattext i b {
    color: #C9C57C;
}

.chattextgroup {
    color: #62C400;
}

.chattextinfo {
    color: silver;
    font-style: italic;
    background: maroon /*url(../img/area_d.png)*/;
}

.chattextwhisper {
    color: #B90000;
}

.chatpics {
    display: none;
}

span.chattextclan a[href*="main.php?showallmsgs"]:before {
    content: "(holographische) ";
    font-size: 13px;
}

.worldsay {
    background-color: #180c3e;
}

p.worldsay table tr {
    color: #EEE8AA;
    background: maroon
}

p.worldsay table tr td {
    color: #EEE8AA
}