/*chattext*/
.framechattextbg .dfseperator {
    border-top: 1px #18191b solid;
    padding-bottom: 5px;
}

.chattext {
    color: silver;
    font-size: 13px;
    background: url(../img/area.png);
}

.chattextscream {
    color: #6495ED;
    font-size: 13px;
    background: url(../img/area.png);
}

.chattextclan {
    color: #EE7621;
    font-size: 13px;
    background: url(../img/area.png);
}

.chattext i b {
    color: #C9C57C;
}

.chattextgroup {
    color: #62C400;
    font-size: 13px;
    background: url(../img/area.png);
}

.chattextinfo {
    color: silver;
    font-style: italic;
    background: maroon url(../img/area_d.png);
    font-size: 13px;
}

.chattextwhisper {
    color: #B90000;
    font-size: 13px;
    background: url(../img/area.png);
}

.chatpics {
    display: none;
}

span.chattextclan a[href*="main.php?showallmsgs"]:before {
    content: "(holographische) ";
    font-size: 13px;
}

.worldsay {
    background-color: #180c3e;
    font-size: 13px;
}

p.worldsay table tr {
    color: #EEE8AA;
    background: maroon
}

p.worldsay table tr td {
    color: #EEE8AA
}