/* > CID-Zusatzkomponente */
/*   (von kstyle adaptiert) */

.frameitembg #divend {
    background-color: #212121;
}

.itemamount {
    font-weight: bold;
    color: #8F8F8F;
    margin-right: 2px;
}

p.listitemrow img[src$="icon_drop.gif"]:after {
    content: " - ";
    position: absolute;
    display: inline-block;
}
