@charset "utf-8";

#mapTable > div:first-child a img.imagefield {
    margin-top: 1px;
    z-index: 3;
}

#mapTable > div a:first-child img.imagefield {
    margin-left: 1px;
    z-index: 3;
}

#mapTable > div a:last-child img.imagefield {
    margin-left: -1px;
    z-index: 3;
}

#mapTable > div:last-child a img.imagefield {
    margin-top: -1px;
    z-index: 3;
}
