/*- Texte ersetzen -*/

/*"Nehmen" ersetzen*/
a[href*="action=takemoney&act_item_id="],
a[href*="action=take&act_item_id="] {
    font-size: 0px;
    background: #0C0D0F;
}
a[href*="action=takemoney&act_item_id="]:after,
a[href*="action=take&act_item_id="]:after {
    content: "An Bord holen";
    font-size: 12px;
}

/*Bank - "Item mitnehmen" ersetzen*/
a[href$="arrive_eval=itemmitnahme0"] {
    font-size: 0px;
    background: #0D0F10;
}

a[href$="arrive_eval=itemmitnahme0"]:after {
    content: "Item-Kategorien anzeigen";
    font-size: 12px;
}

/*Einstellungen Erweitertes Inventar*/
.frameitembg .listrow a[href="profil.php"]:hover {
    text-decoration: none;
}

.frameitembg .listrow a[href="profil.php"] img {
    width: 8px!important;
    height: 8px!important;
    padding-left: 2px!important;
    padding-right: 2px;
}

.frameitembg .listrow a[href="profil.php"]:before {
    content: " /";
    color: silver;
    font-size: 10px;
}

.frameitembg .listrow a[href="profil.php"]:hover {
    text-decoration: none;
}

.frameitembg .listrow a[href="profil.php"]:after {
    content: "Einstellungen";
    font-size: 10px;
}

.frameitembg .listrow a[href="profil.php"]:hover:after {
    text-decoration: underline;
}

/*Schließen*/
/*
.frameitembg a[href$="action=closeinv"] {
    visibility: hidden;
    font-size: 0px;
    background: black;
}

.frameitembg a[href$="action=closeinv"]:after {
    visibility: visible;
    content: "schließen";
    font-size: 12px;
}
*/
.frameitembg .small center br {
    display: none;
}

/* Kurze Zustände */

.frameitembg .listrow .small span:hover {
    font-size: 12px!important;
    cursor: default;
}

.frameitembg .listrow .small span:hover:before {
    content: ""!important;
}

.frameitembg .listrow .small span:before {
    font-weight: bold;
}

.frameitembg .listrow .small span:before,
.frameitembg .listrow .small span:after {
    font-size: 12px;
}

.frameitembg .listrow .small span#IS {font-size: 0px;}
.frameitembg .listrow .small span#IS:before {content: "IS";}

.frameitembg .listrow .small span#NR {font-size: 0px;}
.frameitembg .listrow .small span#NR:before {content: "NPC-R.Det.";}

.frameitembg .listrow .small span#RT {font-size: 0px;}
.frameitembg .listrow .small span#RT:before {content: "Rib.";}

.frameitembg .listrow .small span#AT {font-size: 0px;}
.frameitembg .listrow .small span#AT:before {content: "Traktor";}

.frameitembg .listrow .small span#TA {font-size: 0px;}
.frameitembg .listrow .small span#TA:before {content: "Triebw.ausf.";}