/*- Texte ersetzen -*/

/*"Nehmen" ersetzen*/
a[href*="action=takemoney&act_item_id="],
a[href*="action=take&act_item_id="] {
    visibility: hidden;
    font-size: 0px;
    background: #0C0D0F;
}
a[href*="action=takemoney&act_item_id="]:after,
a[href*="action=take&act_item_id="]:after {
    visibility: visible;
    content: "An Bord holen";
    font-size: 12px;
}

/*Bank - "Item mitnehmen" ersetzen*/
a[href$="arrive_eval=itemmitnahme0"] {
    visibility: hidden;
    font-size: 0px;
    background: #0D0F10;
}

a[href$="arrive_eval=itemmitnahme0"]:after {
    visibility: visible;
    content: "Item-Kategorien anzeigen";
    font-size: 12px;
}

/*Einstellungen Erweitertes Inventar*/
.frameitembg .listrow a[href="profil.php"]:hover {
    text-decoration: none;
}

.frameitembg .listrow a[href="profil.php"] img {
    width: 8px!important;
    height: 8px!important;
    padding-left: 2px!important;
    padding-right: 2px;
}

.frameitembg .listrow a[href="profil.php"]:before {
    content: " /";
    color: silver;
    font-size: 10px;
}

.frameitembg .listrow a[href="profil.php"]:hover {
    text-decoration: none;
}

.frameitembg .listrow a[href="profil.php"]:after {
    content: "Einstellungen";
    font-size: 10px;
}

.frameitembg .listrow a[href="profil.php"]:hover:after {
    text-decoration: underline;
}

/*Schließen*/
/*
.frameitembg a[href$="action=closeinv"] {
    visibility: hidden;
    font-size: 0px;
    background: black;
}

.frameitembg a[href$="action=closeinv"]:after {
    visibility: visible;
    content: "schließen";
    font-size: 12px;
}
*/
.frameitembg .small center br {
    display: none;
}