/* Zeige Software in minimiertem Inventar */
.frameitembg b + span.healthok[title*="Dymidrit"]:after {
    content: ".Dym";
}

.frameitembg b + span.healthok[title*="Energie"]:after {
    content: ".En";
}

.frameitembg b + span.healthok[title*="Kampf"]:after {
    content: ".Ka";
}

.frameitembg b + span.healthok[title*="Schild"]:after {
    content: ".Sch";
}

.frameitembg b + span.healthok[title*="Sidoner"]:after {
    content: ".Sid";
}

.frameitembg b + span.healthok[title*="Tirium"]:after {
    content: ".Tir";
}

.frameitembg b + span.healthok[title*="Treibstoff"]:after {
    content: ".Trb";
}

.frameitembg b + span.healthok[title*="Trümmer"]:after {
    content: ".Trü";
}

.frameitembg b + span.healthok[title^="Mod"]:before {
    content: "*";
}