/*Weltraum transparent*/

.framemapbg td[style*="/rand/space"],
.framemapbg td[style$="/black.jpg);"] {
    opacity: 0.51;
}

.framemapbg td[style$="/space9117.jpg);"] {
    opacity: 1.0;
}

.imagefield[src*="/rand/space"],
.imagefield[src$="/black.jpg"] {
    opacity: 0.51;
}

.imagefield[src$="/space9117.jpg"] {
    opacity: 1.0;
}

.areadescription td[background*="/rand/space"],
.areadescription td[background$="/black.jpg"] {
    opacity: 0.51;
}

.areadescription td[background$="/space9117.jpg"] {
    opacity: 1.0;
}

.areadescription table#build_fields td[background^="../images/map/"]:hover {
    opacity: 1.0;
}

.areadescription table#destroy_fields td[background^="../images/map/"] a:hover {
    opacity: 0.51;
}