/*Waffenzustand dauerhaft anzeigen
100-90:66FF00
90-80:00CC00
80-70:FFFF00
70-60:FFE566
60-50:FF9900
50-40:FF4D00
40-30:E50000
ori
100-81:#9ACD32
80-60:#FF8000
59-..:#D20000
*/

span[title$="Zustand: 200%"]:after {content:" (200%)";color:#9ACD32;}
span[title$="Zustand: 199%"]:after {content:" (199%)";color:#9ACD32;}
span[title$="Zustand: 198%"]:after {content:" (198%)";color:#9ACD32;}
span[title$="Zustand: 197%"]:after {content:" (197%)";color:#9ACD32;}
span[title$="Zustand: 196%"]:after {content:" (196%)";color:#9ACD32;}
span[title$="Zustand: 195%"]:after {content:" (195%)";color:#9ACD32;}
span[title$="Zustand: 194%"]:after {content:" (194%)";color:#9ACD32;}
span[title$="Zustand: 193%"]:after {content:" (193%)";color:#9ACD32;}
span[title$="Zustand: 192%"]:after {content:" (192%)";color:#9ACD32;}
span[title$="Zustand: 191%"]:after {content:" (191%)";color:#9ACD32;}
span[title$="Zustand: 190%"]:after {content:" (190%)";color:#9ACD32;}
span[title$="Zustand: 189%"]:after {content:" (189%)";color:#9ACD32;}
span[title$="Zustand: 188%"]:after {content:" (188%)";color:#9ACD32;}
span[title$="Zustand: 187%"]:after {content:" (187%)";color:#9ACD32;}
span[title$="Zustand: 186%"]:after {content:" (186%)";color:#9ACD32;}
span[title$="Zustand: 185%"]:after {content:" (185%)";color:#9ACD32;}
span[title$="Zustand: 184%"]:after {content:" (184%)";color:#9ACD32;}
span[title$="Zustand: 183%"]:after {content:" (183%)";color:#9ACD32;}
span[title$="Zustand: 182%"]:after {content:" (182%)";color:#9ACD32;}
span[title$="Zustand: 181%"]:after {content:" (181%)";color:#9ACD32;}
span[title$="Zustand: 180%"]:after {content:" (180%)";color:#9ACD32;}
span[title$="Zustand: 179%"]:after {content:" (179%)";color:#9ACD32;}
span[title$="Zustand: 178%"]:after {content:" (178%)";color:#9ACD32;}
span[title$="Zustand: 177%"]:after {content:" (177%)";color:#9ACD32;}
span[title$="Zustand: 176%"]:after {content:" (176%)";color:#9ACD32;}
span[title$="Zustand: 175%"]:after {content:" (175%)";color:#9ACD32;}
span[title$="Zustand: 174%"]:after {content:" (174%)";color:#9ACD32;}
span[title$="Zustand: 173%"]:after {content:" (173%)";color:#9ACD32;}
span[title$="Zustand: 172%"]:after {content:" (172%)";color:#9ACD32;}
span[title$="Zustand: 171%"]:after {content:" (171%)";color:#9ACD32;}
span[title$="Zustand: 170%"]:after {content:" (170%)";color:#9ACD32;}
span[title$="Zustand: 169%"]:after {content:" (169%)";color:#9ACD32;}
span[title$="Zustand: 168%"]:after {content:" (168%)";color:#9ACD32;}
span[title$="Zustand: 167%"]:after {content:" (167%)";color:#9ACD32;}
span[title$="Zustand: 166%"]:after {content:" (166%)";color:#9ACD32;}
span[title$="Zustand: 165%"]:after {content:" (165%)";color:#9ACD32;}
span[title$="Zustand: 164%"]:after {content:" (164%)";color:#9ACD32;}
span[title$="Zustand: 163%"]:after {content:" (163%)";color:#9ACD32;}
span[title$="Zustand: 162%"]:after {content:" (162%)";color:#9ACD32;}
span[title$="Zustand: 161%"]:after {content:" (161%)";color:#9ACD32;}
span[title$="Zustand: 160%"]:after {content:" (160%)";color:#9ACD32;}
span[title$="Zustand: 159%"]:after {content:" (159%)";color:#9ACD32;}
span[title$="Zustand: 158%"]:after {content:" (158%)";color:#9ACD32;}
span[title$="Zustand: 157%"]:after {content:" (157%)";color:#9ACD32;}
span[title$="Zustand: 156%"]:after {content:" (156%)";color:#9ACD32;}
span[title$="Zustand: 155%"]:after {content:" (155%)";color:#9ACD32;}
span[title$="Zustand: 154%"]:after {content:" (154%)";color:#9ACD32;}
span[title$="Zustand: 153%"]:after {content:" (153%)";color:#9ACD32;}
span[title$="Zustand: 152%"]:after {content:" (152%)";color:#9ACD32;}
span[title$="Zustand: 151%"]:after {content:" (151%)";color:#9ACD32;}
span[title$="Zustand: 150%"]:after {content:" (150%)";color:#9ACD32;}
span[title$="Zustand: 149%"]:after {content:" (149%)";color:#9ACD32;}
span[title$="Zustand: 148%"]:after {content:" (148%)";color:#9ACD32;}
span[title$="Zustand: 147%"]:after {content:" (147%)";color:#9ACD32;}
span[title$="Zustand: 146%"]:after {content:" (146%)";color:#9ACD32;}
span[title$="Zustand: 145%"]:after {content:" (145%)";color:#9ACD32;}
span[title$="Zustand: 144%"]:after {content:" (144%)";color:#9ACD32;}
span[title$="Zustand: 143%"]:after {content:" (143%)";color:#9ACD32;}
span[title$="Zustand: 142%"]:after {content:" (142%)";color:#9ACD32;}
span[title$="Zustand: 141%"]:after {content:" (141%)";color:#9ACD32;}
span[title$="Zustand: 140%"]:after {content:" (140%)";color:#9ACD32;}
span[title$="Zustand: 139%"]:after {content:" (139%)";color:#9ACD32;}
span[title$="Zustand: 138%"]:after {content:" (138%)";color:#9ACD32;}
span[title$="Zustand: 137%"]:after {content:" (137%)";color:#9ACD32;}
span[title$="Zustand: 136%"]:after {content:" (136%)";color:#9ACD32;}
span[title$="Zustand: 135%"]:after {content:" (135%)";color:#9ACD32;}
span[title$="Zustand: 134%"]:after {content:" (134%)";color:#9ACD32;}
span[title$="Zustand: 133%"]:after {content:" (133%)";color:#9ACD32;}
span[title$="Zustand: 132%"]:after {content:" (132%)";color:#9ACD32;}
span[title$="Zustand: 131%"]:after {content:" (131%)";color:#9ACD32;}
span[title$="Zustand: 130%"]:after {content:" (130%)";color:#9ACD32;}
span[title$="Zustand: 129%"]:after {content:" (129%)";color:#9ACD32;}
span[title$="Zustand: 128%"]:after {content:" (128%)";color:#9ACD32;}
span[title$="Zustand: 127%"]:after {content:" (127%)";color:#9ACD32;}
span[title$="Zustand: 126%"]:after {content:" (126%)";color:#9ACD32;}
span[title$="Zustand: 125%"]:after {content:" (125%)";color:#9ACD32;}
span[title$="Zustand: 124%"]:after {content:" (124%)";color:#9ACD32;}
span[title$="Zustand: 123%"]:after {content:" (123%)";color:#9ACD32;}
span[title$="Zustand: 122%"]:after {content:" (122%)";color:#9ACD32;}
span[title$="Zustand: 121%"]:after {content:" (121%)";color:#9ACD32;}
span[title$="Zustand: 120%"]:after {content:" (120%)";color:#9ACD32;}
span[title$="Zustand: 119%"]:after {content:" (119%)";color:#9ACD32;}
span[title$="Zustand: 118%"]:after {content:" (118%)";color:#9ACD32;}
span[title$="Zustand: 117%"]:after {content:" (117%)";color:#9ACD32;}
span[title$="Zustand: 116%"]:after {content:" (116%)";color:#9ACD32;}
span[title$="Zustand: 115%"]:after {content:" (115%)";color:#9ACD32;}
span[title$="Zustand: 114%"]:after {content:" (114%)";color:#9ACD32;}
span[title$="Zustand: 113%"]:after {content:" (113%)";color:#9ACD32;}
span[title$="Zustand: 112%"]:after {content:" (112%)";color:#9ACD32;}
span[title$="Zustand: 111%"]:after {content:" (111%)";color:#9ACD32;}
span[title$="Zustand: 110%"]:after {content:" (110%)";color:#9ACD32;}
span[title$="Zustand: 109%"]:after {content:" (109%)";color:#9ACD32;}
span[title$="Zustand: 108%"]:after {content:" (108%)";color:#9ACD32;}
span[title$="Zustand: 107%"]:after {content:" (107%)";color:#9ACD32;}
span[title$="Zustand: 106%"]:after {content:" (106%)";color:#9ACD32;}
span[title$="Zustand: 105%"]:after {content:" (105%)";color:#9ACD32;}
span[title$="Zustand: 104%"]:after {content:" (104%)";color:#9ACD32;}
span[title$="Zustand: 103%"]:after {content:" (103%)";color:#9ACD32;}
span[title$="Zustand: 102%"]:after {content:" (102%)";color:#9ACD32;}
span[title$="Zustand: 101%"]:after {content:" (101%)";color:#9ACD32;}
span[title$="Zustand: 100%"]:after {content:" (100%)";color:#9ACD32;}
span[title$="Zustand: 99%"]:after {content:" (99%)";color:#9ACD32;}
span[title$="Zustand: 98%"]:after {content:" (98%)";color:#9ACD32;}
span[title$="Zustand: 97%"]:after {content:" (97%)";color:#9ACD32;}
span[title$="Zustand: 96%"]:after {content:" (96%)";color:#9ACD32;}
span[title$="Zustand: 95%"]:after {content:" (95%)";color:#9ACD32;}
span[title$="Zustand: 94%"]:after {content:" (94%)";color:#9ACD32;}
span[title$="Zustand: 93%"]:after {content:" (93%)";color:#9ACD32;}
span[title$="Zustand: 92%"]:after {content:" (92%)";color:#9ACD32;}
span[title$="Zustand: 91%"]:after {content:" (91%)";color:#9ACD32;}
span[title$="Zustand: 90%"]:after {content:" (90%)";color:#9ACD32;}
span[title$="Zustand: 89%"]:after {content:" (89%)";color:#9ACD32;}
span[title$="Zustand: 88%"]:after {content:" (88%)";color:#9ACD32;}
span[title$="Zustand: 87%"]:after {content:" (87%)";color:#9ACD32;}
span[title$="Zustand: 86%"]:after {content:" (86%)";color:#9ACD32;}
span[title$="Zustand: 85%"]:after {content:" (85%)";color:#9ACD32;}
span[title$="Zustand: 84%"]:after {content:" (84%)";color:#9ACD32;}
span[title$="Zustand: 83%"]:after {content:" (83%)";color:#9ACD32;}
span[title$="Zustand: 82%"]:after {content:" (82%)";color:#9ACD32;}
span[title$="Zustand: 81%"]:after {content:" (81%)";color:#9ACD32;}
span[title$="Zustand: 80%"]:after {content:" (80%)";color:#FF8000;}
span[title$="Zustand: 79%"]:after {content:" (79%)";color:#FF8000;}
span[title$="Zustand: 78%"]:after {content:" (78%)";color:#FF8000;}
span[title$="Zustand: 77%"]:after {content:" (77%)";color:#FF8000;}
span[title$="Zustand: 76%"]:after {content:" (76%)";color:#FF8000;}
span[title$="Zustand: 75%"]:after {content:" (75%)";color:#FF8000;}
span[title$="Zustand: 74%"]:after {content:" (74%)";color:#FF8000;}
span[title$="Zustand: 73%"]:after {content:" (73%)";color:#FF8000;}
span[title$="Zustand: 72%"]:after {content:" (72%)";color:#FF8000;}
span[title$="Zustand: 71%"]:after {content:" (71%)";color:#FF8000;}
span[title$="Zustand: 70%"]:after {content:" (70%)";color:#FF8000;}
span[title$="Zustand: 69%"]:after {content:" (69%)";color:#FF8000;}
span[title$="Zustand: 68%"]:after {content:" (68%)";color:#FF8000;}
span[title$="Zustand: 67%"]:after {content:" (67%)";color:#FF8000;}
span[title$="Zustand: 66%"]:after {content:" (66%)";color:#FF8000;}
span[title$="Zustand: 65%"]:after {content:" (65%)";color:#FF8000;}
span[title$="Zustand: 64%"]:after {content:" (64%)";color:#FF8000;}
span[title$="Zustand: 63%"]:after {content:" (63%)";color:#FF8000;}
span[title$="Zustand: 62%"]:after {content:" (62%)";color:#FF8000;}
span[title$="Zustand: 61%"]:after {content:" (61%)";color:#FF8000;}
span[title$="Zustand: 60%"]:after {content:" (60%)";color:#FF8000;}
span[title$="Zustand: 59%"]:after {content:" (59%)";color:#D20000;}
span[title$="Zustand: 58%"]:after {content:" (58%)";color:#D20000;}
span[title$="Zustand: 57%"]:after {content:" (57%)";color:#D20000;}
span[title$="Zustand: 56%"]:after {content:" (56%)";color:#D20000;}
span[title$="Zustand: 55%"]:after {content:" (55%)";color:#D20000;}
span[title$="Zustand: 54%"]:after {content:" (54%)";color:#D20000;}
span[title$="Zustand: 53%"]:after {content:" (53%)";color:#D20000;}
span[title$="Zustand: 52%"]:after {content:" (52%)";color:#D20000;}
span[title$="Zustand: 51%"]:after {content:" (51%)";color:#D20000;}
span[title$="Zustand: 50%"]:after {content:" (50%)";color:#D20000;}
span[title$="Zustand: 49%"]:after {content:" (49%)";color:#D20000;}
span[title$="Zustand: 48%"]:after {content:" (48%)";color:#D20000;}
span[title$="Zustand: 47%"]:after {content:" (47%)";color:#D20000;}
span[title$="Zustand: 46%"]:after {content:" (46%)";color:#D20000;}
span[title$="Zustand: 45%"]:after {content:" (45%)";color:#D20000;}
span[title$="Zustand: 44%"]:after {content:" (44%)";color:#D20000;}
span[title$="Zustand: 43%"]:after {content:" (43%)";color:#D20000;}
span[title$="Zustand: 42%"]:after {content:" (42%)";color:#D20000;}
span[title$="Zustand: 41%"]:after {content:" (41%)";color:#D20000;}
span[title$="Zustand: 40%"]:after {content:" (40%)";color:#D20000;}
span[title$="Zustand: 39%"]:after {content:" (39%)";color:#D20000;}
span[title$="Zustand: 38%"]:after {content:" (38%)";color:#D20000;}
span[title$="Zustand: 37%"]:after {content:" (37%)";color:#D20000;}
span[title$="Zustand: 36%"]:after {content:" (36%)";color:#D20000;}
span[title$="Zustand: 35%"]:after {content:" (35%)";color:#D20000;}
span[title$="Zustand: 34%"]:after {content:" (34%)";color:#D20000;}
span[title$="Zustand: 33%"]:after {content:" (33%)";color:#D20000;}
span[title$="Zustand: 32%"]:after {content:" (32%)";color:#D20000;}
span[title$="Zustand: 31%"]:after {content:" (31%)";color:#D20000;}
span[title$="Zustand: 30%"]:after {content:" (30%)";color:#D20000;}
span[title$="Zustand: 29%"]:after {content:" (29%)";color:#D20000;}
span[title$="Zustand: 28%"]:after {content:" (28%)";color:#D20000;}
span[title$="Zustand: 27%"]:after {content:" (27%)";color:#D20000;}
span[title$="Zustand: 26%"]:after {content:" (26%)";color:#D20000;}
span[title$="Zustand: 25%"]:after {content:" (25%)";color:#D20000;}
span[title$="Zustand: 24%"]:after {content:" (24%)";color:#D20000;}
span[title$="Zustand: 23%"]:after {content:" (23%)";color:#D20000;}
span[title$="Zustand: 22%"]:after {content:" (22%)";color:#D20000;}
span[title$="Zustand: 21%"]:after {content:" (21%)";color:#D20000;}
span[title$="Zustand: 20%"]:after {content:" (20%)";color:#D20000;}
span[title$="Zustand: 19%"]:after {content:" (19%)";color:#D20000;}
span[title$="Zustand: 18%"]:after {content:" (18%)";color:#D20000;}
span[title$="Zustand: 17%"]:after {content:" (17%)";color:#D20000;}
span[title$="Zustand: 16%"]:after {content:" (16%)";color:#D20000;}
span[title$="Zustand: 15%"]:after {content:" (15%)";color:#D20000;}
span[title$="Zustand: 14%"]:after {content:" (14%)";color:#D20000;}
span[title$="Zustand: 13%"]:after {content:" (13%)";color:#D20000;}
span[title$="Zustand: 12%"]:after {content:" (12%)";color:#D20000;}
span[title$="Zustand: 11%"]:after {content:" (11%)";color:#D20000;}
span[title$="Zustand: 10%"]:after {content:" (10%)";color:#D20000;}
span[title$="Zustand:  9%"]:after {content:" (9%)";color:#D20000;}
span[title$="Zustand:  8%"]:after {content:" (8%)";color:#D20000;}
span[title$="Zustand:  7%"]:after {content:" (7%)";color:#D20000;}
span[title$="Zustand:  6%"]:after {content:" (6%)";color:#D20000;}
span[title$="Zustand:  5%"]:after {content:" (5%)";color:#D20000;}
span[title$="Zustand:  4%"]:after {content:" (4%)";color:#D20000;}
span[title$="Zustand:  3%"]:after {content:" (3%)";color:#D20000;}

span[title^="3m"] {color:#FF8000;}
span[title^="2m"] {color:#FF8000;}
span[title^="1m"] {color:#D20000;}
span[title^="0m"] {color:#D20000;}

span[title$="Minuten"]:after {color: silver;}
span[title="dauerhaft"]:after {content:": \221E";color: silver;}
span[title^="60 M"]:after {content:": 60m";}
span[title^="59 M"]:after {content:": 59m";}
span[title^="58 M"]:after {content:": 58m";}
span[title^="57 M"]:after {content:": 57m";}
span[title^="56 M"]:after {content:": 56m";}
span[title^="55 M"]:after {content:": 55m";}
span[title^="54 M"]:after {content:": 54m";}
span[title^="53 M"]:after {content:": 53m";}
span[title^="52 M"]:after {content:": 52m";}
span[title^="51 M"]:after {content:": 51m";}
span[title^="50 M"]:after {content:": 50m";}
span[title^="49 M"]:after {content:": 49m";}
span[title^="48 M"]:after {content:": 48m";}
span[title^="47 M"]:after {content:": 47m";}
span[title^="46 M"]:after {content:": 46m";}
span[title^="45 M"]:after {content:": 45m";}
span[title^="44 M"]:after {content:": 44m";}
span[title^="43 M"]:after {content:": 43m";}
span[title^="42 M"]:after {content:": 42m";}
span[title^="41 M"]:after {content:": 41m";}
span[title^="40 M"]:after {content:": 40m";}
span[title^="39 M"]:after {content:": 39m";}
span[title^="38 M"]:after {content:": 38m";}
span[title^="37 M"]:after {content:": 37m";}
span[title^="36 M"]:after {content:": 36m";}
span[title^="35 M"]:after {content:": 35m";}
span[title^="34 M"]:after {content:": 34m";}
span[title^="33 M"]:after {content:": 33m";}
span[title^="32 M"]:after {content:": 32m";}
span[title^="31 M"]:after {content:": 31m";}
span[title^="30 M"]:after {content:": 30m";}
span[title^="29 M"]:after {content:": 29m";}
span[title^="28 M"]:after {content:": 28m";}
span[title^="27 M"]:after {content:": 27m";}
span[title^="26 M"]:after {content:": 26m";}
span[title^="25 M"]:after {content:": 25m";}
span[title^="24 M"]:after {content:": 24m";}
span[title^="23 M"]:after {content:": 23m";}
span[title^="22 M"]:after {content:": 22m";}
span[title^="21 M"]:after {content:": 21m";}
span[title^="20 M"]:after {content:": 20m";}
span[title^="19 M"]:after {content:": 19m";}
span[title^="18 M"]:after {content:": 18m";}
span[title^="17 M"]:after {content:": 17m";}
span[title^="16 M"]:after {content:": 16m";}
span[title^="15 M"]:after {content:": 15m";}
span[title^="14 M"]:after {content:": 14m";}
span[title^="13 M"]:after {content:": 13m";}
span[title^="12 M"]:after {content:": 12m";}
span[title^="11 M"]:after {content:": 11m";}
span[title^="10 M"]:after {content:": 10m";}
span[title^="9 M"]:after {content:": 9m";}
span[title^="8 M"]:after {content:": 8m";}
span[title^="7 M"]:after {content:": 7m";}
span[title^="6 M"]:after {content:": 6m";}
span[title^="5 M"]:after {content:": 5m";}
span[title^="4 M"]:after {content:": 4m";}
span[title^="3 M"]:after {content:": 3m";}
span[title^="2 M"]:after {content:": 2m";color:#FF8000;}
span[title^="1 M"]:after {content:": 1m";color:#D20000;}
span[title^="0 M"]:after {content:": 0m";color:#D20000;}

span[title^="1000 / "]:after {content:": 1000";}

span[title^="990 / "]:after {content:": 990";}
span[title^="980 / "]:after {content:": 980";}
span[title^="970 / "]:after {content:": 970";}
span[title^="960 / "]:after {content:": 960";}
span[title^="950 / "]:after {content:": 950";}
span[title^="940 / "]:after {content:": 940";}
span[title^="930 / "]:after {content:": 930";}
span[title^="920 / "]:after {content:": 920";}
span[title^="910 / "]:after {content:": 910";}
span[title^="900 / "]:after {content:": 900";}

span[title^="890 / "]:after {content:": 890";}
span[title^="880 / "]:after {content:": 880";}
span[title^="870 / "]:after {content:": 870";}
span[title^="860 / "]:after {content:": 860";}
span[title^="850 / "]:after {content:": 850";}
span[title^="840 / "]:after {content:": 840";}
span[title^="830 / "]:after {content:": 830";}
span[title^="820 / "]:after {content:": 820";}
span[title^="810 / "]:after {content:": 810";}
span[title^="800 / "]:after {content:": 800";}

span[title^="790 / "]:after {content:": 790";}
span[title^="780 / "]:after {content:": 780";}
span[title^="770 / "]:after {content:": 770";}
span[title^="760 / "]:after {content:": 760";}
span[title^="750 / "]:after {content:": 750";}
span[title^="740 / "]:after {content:": 740";}
span[title^="730 / "]:after {content:": 730";}
span[title^="720 / "]:after {content:": 720";}
span[title^="710 / "]:after {content:": 710";}
span[title^="700 / "]:after {content:": 700";}

span[title^="690 / "]:after {content:": 690";}
span[title^="680 / "]:after {content:": 680";}
span[title^="670 / "]:after {content:": 670";}
span[title^="660 / "]:after {content:": 660";}
span[title^="650 / "]:after {content:": 650";}
span[title^="640 / "]:after {content:": 640";}
span[title^="630 / "]:after {content:": 630";}
span[title^="620 / "]:after {content:": 620";}
span[title^="610 / "]:after {content:": 610";}
span[title^="600 / "]:after {content:": 600";}

span[title^="590 / "]:after {content:": 590";}
span[title^="580 / "]:after {content:": 580";}
span[title^="570 / "]:after {content:": 570";}
span[title^="560 / "]:after {content:": 560";}
span[title^="550 / "]:after {content:": 550";}
span[title^="540 / "]:after {content:": 540";}
span[title^="530 / "]:after {content:": 530";}
span[title^="520 / "]:after {content:": 520";}
span[title^="510 / "]:after {content:": 510";}
span[title^="500 / "]:after {content:": 500";}

span[title^="490 / "]:after {content:": 490";}
span[title^="480 / "]:after {content:": 480";}
span[title^="470 / "]:after {content:": 470";}
span[title^="460 / "]:after {content:": 460";}
span[title^="450 / "]:after {content:": 450";}
span[title^="440 / "]:after {content:": 440";}
span[title^="430 / "]:after {content:": 430";}
span[title^="420 / "]:after {content:": 420";}
span[title^="410 / "]:after {content:": 410";}
span[title^="400 / "]:after {content:": 400";}

span[title^="390 / "]:after {content:": 390";}
span[title^="380 / "]:after {content:": 380";}
span[title^="370 / "]:after {content:": 370";}
span[title^="360 / "]:after {content:": 360";}
span[title^="350 / "]:after {content:": 350";}
span[title^="340 / "]:after {content:": 340";}
span[title^="330 / "]:after {content:": 330";}
span[title^="320 / "]:after {content:": 320";}
span[title^="310 / "]:after {content:": 310";}
span[title^="300 / "]:after {content:": 300";}

span[title^="290 / "]:after {content:": 290";}
span[title^="280 / "]:after {content:": 280";}
span[title^="270 / "]:after {content:": 270";}
span[title^="260 / "]:after {content:": 260";}
span[title^="250 / "]:after {content:": 250";}
span[title^="240 / "]:after {content:": 240";}
span[title^="230 / "]:after {content:": 230";}
span[title^="220 / "]:after {content:": 220";}
span[title^="210 / "]:after {content:": 210";}
span[title^="200 / "]:after {content:": 200";}
span[title^="190 / "]:after {content:": 190";}

span[title^="180 / "]:after {content:": 180";}
span[title^="170 / "]:after {content:": 170";}
span[title^="160 / "]:after {content:": 160";}
span[title^="150 / "]:after {content:": 150";}
span[title^="140 / "]:after {content:": 140";}
span[title^="130 / "]:after {content:": 130";}
span[title^="120 / "]:after {content:": 120";}
span[title^="110 / "]:after {content:": 110";}
span[title^="100 / "]:after {content:": 100";}

span[title^="90 / "]:after {content:": 90";}
span[title^="80 / "]:after {content:": 80";}
span[title^="70 / "]:after {content:": 70";}
span[title^="60 / "]:after {content:": 60";}
span[title^="50 / "]:after {content:": 50";}
span[title^="40 / "]:after {content:": 40";}
span[title^="30 / "]:after {content:": 30";}
span[title^="20 / "]:after {content:": 20";color:#FF8000;}
span[title^="10 / "]:after {content:": 10";color:#D20000;}
span[title^="0 / "]:after {content:": 0";color:#D20000;}

