@charset "utf-8";
/* Legacy Map */
#mapTable a[title="Raumstation"] { box-shadow: inset 0 0 4px #ab24ff;}

#mapTable img.imagefield[src$='base1.jpg'] { background: url(../img/rs/base1.jpg); padding-left: 50px;width: 0px;height: 50px;}
td.mainheader img[src$="base1.jpg"] { width: 0; background: url(../img/rs/base1.jpg) no-repeat center; background-size: cover; padding-left: 65px; overflow: hidden; }
.framemainbg table div img[src$="base1.jpg"] { width: 0; background: url(../img/rs/base1.jpg) no-repeat; padding-left: 25px; overflow: hidden; }

#mapTable img.imagefield[src$='base2.jpg'] { background: url(../img/rs/base2.jpg); padding-left: 50px;width: 0px;height: 50px;}
td.mainheader img[src$="base2.jpg"] { width:0; background: url(../img/rs/base2.jpg) no-repeat center;  background-size: cover; padding-left: 65px; overflow: hidden; }
.framemainbg table div img[src$="base2.jpg"] { width: 0; background: url(../img/rs/base2.jpg) no-repeat; padding-left: 25px; overflow: hidden; }

#mapTable img.imagefield[src$='base3.jpg'] { background: url(../img/rs/base3.jpg); padding-left: 50px;width: 0px;height: 50px;}
td.mainheader img[src$="base3.jpg"] { width: 0; background: url(../img/rs/base3.jpg) no-repeat center; background-size: cover; padding-left: 65px; overflow: hidden; }
.framemainbg table div img[src$="base3.jpg"] { width: 0; background: url(../img/rs/base3.jpg) no-repeat; padding-left: 25px; overflow: hidden; }

#mapTable img.imagefield[src$='base4.jpg'] { background: url(../img/rs/base4.jpg); padding-left: 50px;width: 0px;height: 50px;}
td.mainheader img[src$="base4.jpg"] { width: 0; background: url(../img/rs/base4.jpg) no-repeat center; background-size: cover; padding-left: 65px; overflow: hidden; }
.framemainbg table div img[src$="base4.jpg"] { width: 0; background: url(../img/rs/base4.jpg) no-repeat; padding-left: 25px; overflow: hidden; }

#mapTable img.imagefield[src$='base5.jpg'] { background: url(../img/rs/base5.jpg); padding-left: 50px;width: 0px;height: 50px;}
td.mainheader img[src$="base5.jpg"] { width: 0 !important; background: url(../img/rs/base5.jpg) no-repeat center;  background-size: cover; padding-left: 65px; overflow: hidden; }
.framemainbg table div img[src$="base5.jpg"] { width: 0 !important; background: url(../img/rs/base5.jpg) no-repeat; padding-left: 25px; overflow: hidden; }

#mapTable img.imagefield[src$='base6.jpg'] { background: url(../img/rs/base6.jpg); padding-left: 50px;width: 0px;height: 50px;}
td.mainheader img[src$="base6.jpg"] { width: 0; background: url(../img/rs/base6.jpg) no-repeat center;  background-size: cover; padding-left: 65px; overflow: hidden; }
.framemainbg table div img[src$="base6.jpg"] { width: 0; background: url(../img/rs/base6.jpg) no-repeat; padding-left: 25px; overflow: hidden; }

#mapTable img.imagefield[src$='base7.jpg'] { background: url(../img/rs/base7.jpg); padding-left: 50px;width: 0px;height: 50px;}
td.mainheader img[src$="base7.jpg"] { width: 0; background: url(../img/rs/base7.jpg) no-repeat center;  background-size: cover; padding-left: 65px; overflow: hidden; }
.framemainbg table div img[src$="base7.jpg"] { width: 0; background: url(../img/rs/base7.jpg) no-repeat; padding-left: 25px; overflow: hidden; }

#mapTable img.imagefield[src$='base8.jpg'] { background: url(../img/rs/base8.jpg); padding-left: 50px;width: 0px;height: 50px;}
td.mainheader img[src$="base8.jpg"] { width: 0; background: url(../img/rs/base8.jpg) no-repeat center;  background-size: cover; padding-left: 65px; overflow: hidden; }
.framemainbg table div img[src$="base8.jpg"] { width: 0; background: url(../img/rs/base8.jpg) no-repeat; padding-left: 25px; overflow: hidden; }

#mapTable img.imagefield[src$='base9.jpg'] { background: url(../img/rs/base9.jpg); padding-left: 50px;width: 0px;height: 50px;}
td.mainheader img[src$="base9.jpg"] { width: 0; background: url(../img/rs/base9.jpg) no-repeat center;  background-size: cover; padding-left: 65px; overflow: hidden; }
.framemainbg table div img[src$="base9.jpg"] { width: 0; background: url(../img/rs/base9.jpg) no-repeat; padding-left: 25px; overflow: hidden; }

#mapTable img.imagefield[src$='base10.jpg'] { background: url(../img/rs/base10.jpg); padding-left: 50px;width: 0px;height: 50px;}
td.mainheader img[src$="base10.jpg"] { width: 0; background: url(../img/rs/base10.jpg) no-repeat center;  background-size: cover; padding-left: 65px; overflow: hidden; }
.framemainbg table div img[src$="base10.jpg"] { width: 0; background: url(../img/rs/base10.jpg) no-repeat; padding-left: 25px; overflow: hidden; }

#mapTable img.imagefield[src$='base11.jpg'] { background: url(../img/rs/base11.jpg); padding-left: 50px;width: 0px;height: 50px;}
td.mainheader img[src$="base11.jpg"] { width: 0; background: url(../img/rs/base11.jpg) no-repeat center;  background-size: cover; padding-left: 65px; overflow: hidden; }
.framemainbg table div img[src$="base11.jpg"] { width: 0; background: url(../img/rs/base11.jpg) no-repeat; padding-left: 25px; overflow: hidden; }

#mapTable img.imagefield[src$='base12.jpg'] { background: url(../img/rs/base12.jpg); padding-left: 50px;width: 0px;height: 50px;}
td.mainheader img[src$="base12.jpg"] { width: 0; background: url(../img/rs/base12.jpg) no-repeat center;  background-size: cover; padding-left: 65px; overflow: hidden; }
.framemainbg table div img[src$="base12.jpg"] { width: 0; background: url(../img/rs/base12.jpg) no-repeat; padding-left: 25px; overflow: hidden; }

#mapTable img.imagefield[src$='base13.jpg'] { background: url(../img/rs/base13.jpg); padding-left: 50px;width: 0px;height: 50px;}
td.mainheader img[src$="base13.jpg"] { width: 0; background: url(../img/rs/base13.jpg) no-repeat center;  background-size: cover; padding-left: 65px; overflow: hidden; }
.framemainbg table div img[src$="base13.jpg"] { width: 0; background: url(../img/rs/base13.jpg) no-repeat; padding-left: 25px; overflow: hidden; }

#mapTable img.imagefield[src$='base14.jpg'] { background: url(../img/rs/base14.jpg); padding-left: 50px;width: 0px;height: 50px;}
td.mainheader img[src$="base14.jpg"] { width: 0; background: url(../img/rs/base14.jpg) no-repeat center;  background-size: cover; padding-left: 65px; overflow: hidden; }
.framemainbg table div img[src$="base14.jpg"] { width: 0; background: url(../img/rs/base14.jpg) no-repeat; padding-left: 25px; overflow: hidden; }

#mapTable img.imagefield[src$='base15.jpg'] { background: url(../img/rs/base15.jpg); padding-left: 50px;width: 0px;height: 50px;}
td.mainheader img[src$="base15.jpg"] { width: 0; background: url(../img/rs/base15.jpg) no-repeat center;  background-size: cover; padding-left: 65px; overflow: hidden; }
.framemainbg table div img[src$="base15.jpg"] { width: 0; background: url(../img/rs/base15.jpg) no-repeat; padding-left: 25px; overflow: hidden; }

#mapTable img.imagefield[src$='base16.jpg'] { background: url(../img/rs/base16.jpg); padding-left: 50px;width: 0px;height: 50px;}
td.mainheader img[src$="base16.jpg"] { width: 0; background: url(../img/rs/base16.jpg) no-repeat center;  background-size: cover; padding-left: 65px; overflow: hidden; }
.framemainbg table div img[src$="base16.jpg"] { width: 0; background: url(../img/rs/base16.jpg) no-repeat; padding-left: 25px; overflow: hidden; }

#mapTable img.imagefield[src$='base17.jpg'] { background: url(../img/rs/base17.jpg); padding-left: 50px;width: 0px;height: 50px;}
td.mainheader img[src$="base17.jpg"] { width: 0; background: url(../img/rs/base17.jpg) no-repeat center;  background-size: cover; padding-left: 65px; overflow: hidden; }
.framemainbg table div img[src$="base17.jpg"] { width: 0; background: url(../img/rs/base17.jpg) no-repeat; padding-left: 25px; overflow: hidden; }

#mapTable img.imagefield[src$='base18.jpg'] { background: url(../img/rs/base18.jpg); padding-left: 50px;width: 0px;height: 50px;}
td.mainheader img[src$="base18.jpg"] { width: 0; background: url(../img/rs/base18.jpg) no-repeat center;  background-size: cover; padding-left: 65px; overflow: hidden; }
.framemainbg table div img[src$="base18.jpg"] { width: 0; background: url(../img/rs/base18.jpg) no-repeat; padding-left: 25px; overflow: hidden; }

#mapTable img.imagefield[src$='base19.jpg'] { background: url(../img/rs/base19.jpg); padding-left: 50px;width: 0px;height: 50px;}
td.mainheader img[src$="base19.jpg"] { width: 0; background: url(../img/rs/base19.jpg) no-repeat center;  background-size: cover; padding-left: 65px; overflow: hidden; }
.framemainbg table div img[src$="base19.jpg"] { width: 0; background: url(../img/rs/base19.jpg) no-repeat; padding-left: 25px; overflow: hidden; }


#mapTable img.imagefield[src$='base20.jpg'] { background: url(../img/rs/base20.jpg); padding-left: 50px;width: 0px;height: 50px;}
td.mainheader img[src$="base20.jpg"] { width: 0; background: url(../img/rs/base20.jpg) no-repeat center;  background-size: cover; padding-left: 65px; overflow: hidden; }
.framemainbg table div img[src$="base20.jpg"] { width: 0; background: url(../img/rs/base20.jpg) no-repeat; padding-left: 25px; overflow: hidden; }

#mapTable img.imagefield[src$='base21.jpg'] { background: url(../img/rs/base21.jpg); padding-left: 50px;width: 0px;height: 50px;}
td.mainheader img[src$="base21.jpg"] { width: 0; background: url(../img/rs/base21.jpg) no-repeat center;  background-size: cover; padding-left: 65px; overflow: hidden; }
.framemainbg table div img[src$="base21.jpg"] { width: 0; background: url(../img/rs/base21.jpg) no-repeat; padding-left: 25px; overflow: hidden; }

#mapTable img.imagefield[src$='base22.jpg'] { background: url(../img/rs/base22.jpg); padding-left: 50px;width: 0px;height: 50px;}
td.mainheader img[src$="base22.jpg"] { width: 0; background: url(../img/rs/base22.jpg) no-repeat center;  background-size: cover; padding-left: 65px; overflow: hidden; }
.framemainbg table div img[src$="base22.jpg"] { width: 0; background: url(../img/rs/base22.jpg) no-repeat; padding-left: 25px; overflow: hidden; }

#mapTable img.imagefield[src$='base23.jpg'] { background: url(../img/rs/base23.jpg); padding-left: 50px;width: 0px;height: 50px;}
td.mainheader img[src$="base23.jpg"] { width: 0; background: url(../img/rs/base23.jpg) no-repeat center;  background-size: cover; padding-left: 65px; overflow: hidden; }
.framemainbg table div img[src$="base23.jpg"] { width: 0; background: url(../img/rs/base23.jpg) no-repeat; padding-left: 25px; overflow: hidden; }

#mapTable img.imagefield[src$='base24.jpg'] { background: url(../img/rs/base24.jpg); padding-left: 50px;width: 0px;height: 50px;}
td.mainheader img[src$="base24.jpg"] { width: 0; background: url(../img/rs/base24.jpg) no-repeat center;  background-size: cover; padding-left: 65px; overflow: hidden; }
.framemainbg table div img[src$="base24.jpg"] { width: 0; background: url(../img/rs/base24.jpg) no-repeat; padding-left: 25px; overflow: hidden; }

#mapTable img.imagefield[src$='base25.jpg'] { background: url(../img/rs/base25.jpg); padding-left: 50px;width: 0px;height: 50px;}
td.mainheader img[src$="base25.jpg"] { width: 0; background: url(../img/rs/base25.jpg) no-repeat center;  background-size: cover; padding-left: 65px; overflow: hidden; }
.framemainbg table div img[src$="base25.jpg"] { width: 0; background: url(../img/rs/base25.jpg) no-repeat; padding-left: 25px; overflow: hidden; }

#mapTable img.imagefield[src$='base26.jpg'] { background: url(../img/rs/base26.jpg); padding-left: 50px;width: 0px;height: 50px;}
td.mainheader img[src$="base26.jpg"] { width: 0; background: url(../img/rs/base26.jpg) no-repeat center;  background-size: cover; padding-left: 65px; overflow: hidden; }
.framemainbg table div img[src$="base26.jpg"] { width: 0; background: url(../img/rs/base26.jpg) no-repeat; padding-left: 25px; overflow: hidden; }

#mapTable img.imagefield[src$='base27.jpg'] { background: url(../img/rs/base27.jpg); padding-left: 50px;width: 0px;height: 50px;}
td.mainheader img[src$="base27.jpg"] { width: 0; background: url(../img/rs/base27.jpg) no-repeat center;  background-size: cover; padding-left: 65px; overflow: hidden; }
.framemainbg table div img[src$="base27.jpg"] { width: 0; background: url(../img/rs/base27.jpg) no-repeat; padding-left: 25px; overflow: hidden; }

#mapTable img.imagefield[src$='base28.jpg'] { background: url(../img/rs/base28.jpg); padding-left: 50px;width: 0px;height: 50px;}
td.mainheader img[src$="base28.jpg"] { width: 0; background: url(../img/rs/base28.jpg) no-repeat center;  background-size: cover; padding-left: 65px; overflow: hidden; }
.framemainbg table div img[src$="base28.jpg"] { width: 0; background: url(../img/rs/base28.jpg) no-repeat; padding-left: 25px; overflow: hidden; }

#mapTable img.imagefield[src$='base29.jpg'] { background: url(../img/rs/base29.jpg); padding-left: 50px;width: 0px;height: 50px;}
td.mainheader img[src$="base29.jpg"] { width: 0; background: url(../img/rs/base29.jpg) no-repeat center;  background-size: cover; padding-left: 65px; overflow: hidden; }
.framemainbg table div img[src$="base29.jpg"] { width: 0; background: url(../img/rs/base29.jpg) no-repeat; padding-left: 25px; overflow: hidden; }


#mapTable img.imagefield[src$='base30.jpg'] { background: url(../img/rs/base30.jpg); padding-left: 50px;width: 0px;height: 50px;}
td.mainheader img[src$="base30.jpg"] { width: 0; background: url(../img/rs/base30.jpg) no-repeat center;  background-size: cover; padding-left: 65px; overflow: hidden; }
.framemainbg table div img[src$="base30.jpg"] { width: 0; background: url(../img/rs/base30.jpg) no-repeat; padding-left: 25px; overflow: hidden; }

#mapTable img.imagefield[src$='base31.jpg'] { background: url(../img/rs/base31.jpg); padding-left: 50px;width: 0px;height: 50px;}
td.mainheader img[src$="base31.jpg"] { width: 0; background: url(../img/rs/base31.jpg) no-repeat center;  background-size: cover; padding-left: 65px; overflow: hidden; }
.framemainbg table div img[src$="base31.jpg"] { width: 0; background: url(../img/rs/base31.jpg) no-repeat; padding-left: 25px; overflow: hidden; }

#mapTable img.imagefield[src$='base32.jpg'] { background: url(../img/rs/base32.jpg); padding-left: 50px;width: 0px;height: 50px;}
td.mainheader img[src$="base32.jpg"] { width: 0; background: url(../img/rs/base32.jpg) no-repeat center;  background-size: cover; padding-left: 65px; overflow: hidden; }
.framemainbg table div img[src$="base32.jpg"] { width: 0; background: url(../img/rs/base32.jpg) no-repeat; padding-left: 25px; overflow: hidden; }

#mapTable img.imagefield[src$='base33.jpg'] { background: url(../img/rs/base33.jpg); padding-left: 50px;width: 0px;height: 50px;}
td.mainheader img[src$="base33.jpg"] { width: 0; background: url(../img/rs/base33.jpg) no-repeat center;  background-size: cover; padding-left: 65px; overflow: hidden; }
.framemainbg table div img[src$="base33.jpg"] { width: 0; background: url(../img/rs/base33.jpg) no-repeat; padding-left: 25px; overflow: hidden; }
